@import "./variables";

// START OF CONTACT SECTION
#contact {
  background: url("../images/map.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 960px;
  margin-top: 100px;
  padding: 15% 10%;

  .wrapper {
    .left {
      background-color: #fff;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      padding: 50px;
      position: relative;
      left: 12px;
      height: 545px;

      .top {
        h2 {
          text-transform: uppercase;
          font-weight: bold;
          font-size: 2.1rem;

          span {
            color: $main-color;

            &::before {
              content: "";
              display: inline-block;
              width: 80px;
              height: 2px;
              background-color: $main-color;
              margin-right: 30px;
              position: relative;
              bottom: 10px;
            }
          }
        }
      }
      .form {
        display: flex;
        height: 100%;
        flex-wrap: wrap;

        input,
        textarea {
          border-radius: 5px;
          color: $text-color;
          font-size: 0.9em;
          border: 1px solid #ddd;
          margin: 10px 0;
          padding: 10px;
        }
        input {
          width: 48%;

          &:nth-child(odd) {
            margin-right: 10px;
          }
        }
        textarea {
          width: 100%;
        }

        .btnSend {
          background-color: $main-color;
          font-size: 0.9em;
          color: #fff;
          transition: 0.3s all linear;
          margin-top: 30px;
          width: 100%;

          &:hover {
            background-color: rgba(0, 0, 0, 0.562);
          }
        }
      }
    }
    .right {
      position: relative;
      right: 12px;
      height: 545px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      .gmap_canvas {
        height: 545px;
        width: 100%;
      }
      iframe {
        height: 545px;
        width: 100%;
      }
    }
  }
}
// END OF CONTACT SECTION

@media screen and (min-width: 993px) {
  #contact {
    .wrapper {
      .right {
        overflow: hidden;
      }
    }
  }
}

@media screen and (max-width: 1112px) {
  #contact {
    .wrapper {
      .left {
        padding: 30px;
        .form {
          .btnSend {
            margin-top: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  #contact {
    padding: 50px 10%;
    height: 1245px;
    .wrapper {
      .left {
        padding: 30px 50px;
        position: static;
        height: 580px;
        border-radius: 10px;
        margin-bottom: 20px;

        .form {
          input {
            width: 100%;
            margin-right: 0px !important;
          }

          textarea {
            height: 110px;
          }
          .btnSend {
            margin-top: 10px;
          }
        }
      }
      .right {
        // right: 0;
        position: static;
        overflow: visible;
        .mapouter {
          width: 100%;
          .gmap_canvas {
            width: 100%;
            iframe {
              border-radius: 10px;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 632px) {
  #contact {
    .wrapper {
      .left {
        .top {
          h2 {
            font-size: 1.3em;
          }
        }
      }
    }
  }
}
