@import "./variables";

// START OF FOOTER
footer {
  margin: 100px 0 50px 0;

  .footer-logo {
    height: 190px;
    position: relative;
    top: 20%;

    p {
      margin-top: 30px;
      color: $text-color;
    }
  }

  .inner {
    h5 {
      font-weight: bold;
      font-size: 1em;
    }
    p,
    a {
      display: block;
      width: 100%;
      color: $text-color;
      transition: all 0.3s linear;
      margin: 25px 0;
    }
    a i {
      margin-right: 8px;
    }
    a:hover {
      color: $main-color;
    }
  }

  .subscribe {
    position: relative;
    margin-bottom: 50px;

    h5 {
      margin: 20px 0;
      font-weight: bold;
      font-size: 1em;
    }
    input {
      width: 100%;
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 10px;
      font-size: 0.9em;
    }
    a {
      position: absolute;
      right: 5%;
      top: 52px;
      font-size: 0.9em;
      color: $text-color;
      transition: all 0.3s linear;

      &:hover {
        color: $main-color;
      }
    }
  }

  .copyright {
    p {
      color: $text-color;
    }
  }
  .go-top {
    a {
      color: $text-color;
      float: right;
      transition: all 0.3s linear;

      i {
        margin-left: 5px;
      }

      &:hover {
        color: $main-color;
      }
    }
  }
}
// END OF FOOTER
