@import "./variables";

// START OF HEADER PART
header {
  background: url("../images/header.jpg");
  background-size: cover;
  background-position: center center;
  height: 800px;
  position: relative;

  .layout {
    background-color: rgba($color: #000, $alpha: 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 100px;
  transition: all 0.4s;

  .menu {
    width: 64%;
    display: flex;
    padding-top: 11px;
    li {
      display: inline-block;
      margin-left: 14px;
      a {
        color: #fff;
        padding: 10px 20px;
        font-size: 0.9em;
        transition: 0.3s all linear;

        &:hover {
          color: $main-color;
        }
      }
    }
  }
}

nav.sticky {
  background-color: #2a2a2a;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  padding: 10px 8%;
  height: 65px;

  .navBrand {
    padding-top: 0 !important;
  }
  .menu {
    width: 63%;

    a.activePage {
      border-radius: 10px;
      border-top: none;
    }
  }
}

.headerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;

  h6 {
    font-weight: bold;
    font-size: 1.4em;
    letter-spacing: 3px;
    font-weight: bold;
  }
  h2 {
    font-size: 3em;
    font-weight: bold;

    span {
      color: $main-color;
    }
  }
  button {
    background-color: #fff;
    font-size: 0.9em;
    color: $main-color;
    transition: 0.3s all linear;
    margin-top: 30px;

    &:hover {
      background-color: $main-color;
      color: #fff;
    }
  }
}

.activePage {
  color: $main-color !important;
  border-top: 2px solid $main-color;
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 11px 20px !important;
}
// END OF HEADER PART
