@import "./variables";

// START OF HEADER PART
header {
  background: url("../images/header.jpg");
  background-size: cover;
  background-position: center center;
  height: 800px;
  position: relative;

  .layout {
    background-color: rgba($color: #000, $alpha: 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 100px;
  transition: all 0.4s;

  .menu {
    width: 64%;
    display: flex;
    padding-top: 11px;
    li {
      display: inline-block;
      margin-left: 14px;
      a {
        color: #fff;
        padding: 10px 20px;
        font-size: 0.9em;
        transition: 0.3s all linear;

        &:hover {
          color: $main-color;
        }
      }
    }
  }

  span {
    display: none;
    background-color: $text-color;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    height: 44px;
    margin-top: 10px;

    i {
      color: #fff;
      font-size: 1.5em;
    }
  }
}

nav.sticky {
  background-color: #2a2a2a;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  padding: 10px 8%;
  height: 65px;

  .navBrand {
    padding-top: 12px !important;
  }
  .menu {
    width: 63%;

    a.activePage {
      border-radius: 10px;
      border-top: none;
    }
  }
}

.headerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;

  h6 {
    font-weight: bold;
    font-size: 1.4em;
    letter-spacing: 3px;
    font-weight: bold;
  }
  h2 {
    font-size: 3em;
    font-weight: bold;

    span {
      color: $main-color;
    }
  }
  button {
    background-color: #fff;
    font-size: 0.9em;
    color: $main-color;
    transition: 0.3s all linear;
    margin-top: 30px;

    &:hover {
      background-color: $main-color;
      color: #fff;
    }
  }
}

// END OF HEADER PART

// FOR MOBILE PHONES, TABLETS
@media screen and (max-width: 992px) {
  header {
    nav {
      display: flex;
      overflow: hidden;
      flex-wrap: wrap;
      > div {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .navBrand {
          display: inline-block;
        }

        span {
          display: inline-block;
        }
      }
      .menu {
        // background-color: #2a2a2a;
        border-radius: 10px;
        // padding: 15px 40px;
        z-index: 10;
        text-align: center;
        width: 100%;
        position: relative;
        top: 31px;
        max-height: 0;
        padding: 15px 40px;
        transition: max-height 1s linear, background-color 0.3s linear;

        ul {
          width: 100%;
          padding-left: 0 !important;
          margin-bottom: 0 !important;

          li {
            width: 100%;
            display: block;
            margin-left: 0 !important;

            a {
              display: block;
              border-bottom: 1px solid $text-color;
              width: 100%;
              margin-left: 0;
              padding: 10px;
              margin-bottom: 15px;
            }

            &:last-child a {
              border-bottom: none;
              margin-bottom: 0;
            }
          }
        }
      }
    }

    nav.sticky {
      height: 70px;
      > div {
        .navBrand {
          padding-top: 12px !important;
        }
        span {
          margin-top: 0;
        }
      }
      .menu {
        width: 100%;

        ul {
          li {
            a {
              border-radius: 0px;

              &.activePage {
                border-radius: 0px;
              }
            }
          }
        }
      }
    }

    .headerText {
      transform: translateX(-50%, -100%);
    }
  }

  .activePage {
    color: $main-color !important;
  }
}

// FOR LARGE DEVICES
@media screen and (min-width: 993px) {
  .activePage {
    color: $main-color !important;
    border-top: 2px solid $main-color;
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 11px 20px !important;
  }
}
