@import "./variables";

// START OF SEARCH PART
#search {
  padding: 50px;
  box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.5);
  border-radius: 10px;
  position: relative;
  top: -140px;
  background-color: #fff;

  .wrapper {
    display: flex;
    justify-content: space-between;
    > div {
      width: 20%;

      input,
      select {
        width: 100%;
        display: block;
        margin: 15px 0;
        font-size: 0.9em;
        padding: 5px;
        border: 1px solid #ddd;
        border-radius: 5px;
        outline: none;
      }

      label {
        font-weight: bold;
      }
    }
  }
  .searchBtn {
    width: 100%;
    border-radius: 5px;
    color: #fff;
    background-color: $main-color;
    transition: 0.3s all linear;
    margin: 20px 0;
    font-size: 0.9em;

    &:hover {
      background-color: rgba(0, 0, 0, 0.562);
    }
  }
}
// END OF SEARCH PART

@media screen and (max-width: 992px) {
  #search {
    .wrapper {
      display: block;
      > div {
        width: 100%;

        input,
        select {
          padding: 10px;
          margin-bottom: 25px;
        }
      }
    }
  }
}
