@import "./variables";

// START OF TRENDING

#trending {
  margin: 100px 0;

  .left {
    padding-left: 17%;
    transform: translateY(50%);
    .headText {
      h2 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2.1rem;

        span {
          color: $main-color;

          &::before {
            content: "";
            display: inline-block;
            width: 80px;
            height: 2px;
            background-color: $main-color;
            margin-right: 30px;
            position: relative;
            bottom: 10px;
          }
        }
      }
    }
    .mainText {
      padding-right: 100px;
      p {
        text-align: justify;
        font-size: 0.9em;
        margin: 20px 0;
        color: $text-color;
      }
      .btnDiscover {
        background-color: $main-color;
        font-size: 0.9em;
        color: #fff;
        transition: 0.3s all linear;
        margin-top: 30px;

        &:hover {
          background-color: rgba(0, 0, 0, 0.562);
        }
      }
    }
  }
}

#trending {
  .right {
    .imgHolder {
      background: url("../images/int2.jpg");
      background-size: cover;
      background-position: center center;
      height: 580px;
      border-radius: 10px;
      width: 60%;
      position: relative;
      left: -15px;

      &::after {
        content: "";
        display: inline-block;
        background: url("../images/int3.jpg");
        background-size: cover;
        background-position: center center;
        height: 300px;
        width: 280px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translateY(-50%);
      }
    }
  }
}

#trending .right {
  .layout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $main-color;
    border-radius: 10px;
    transition: all 0.3s linear;
    opacity: 0;

    .text {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;

      a,
      p {
        color: #fff;
        letter-spacing: 2px;
        transition: all 0.3s linear;
        margin-top: 10px;
      }

      a {
        font-size: 1.5em;
        font-weight: bold;
        text-transform: uppercase;
        transform: translateX(-10%);
        display: block;
      }
      p {
        transform: translateX(10%);
      }
    }

    &:hover {
      opacity: 0.8;
    }
    &:hover a,
    &:hover p {
      transform: translateX(0);
    }
  }
}
// END OF TRENDING
