header {
  background: url("../images/about-header.jpg");
  background-size: cover;
  background-position: center center;
  height: 530px;
}
header .layout .headerText {
  width: 40%;
}
header .layout .headerText p {
  margin-top: 25px;
  font-size: 0.9em;
  line-height: 1.8rem;
}

#services {
  position: relative;
  top: -80px;
}
#services .service-item {
  height: 150px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  background-color: #fff;
  padding: 30px;
}
#services .service-item i {
  color: #ff565b;
  font-size: 3em;
  margin-bottom: 25px;
}
#services .service-item h4 {
  width: 100%;
  font-weight: bold;
  font-size: 1.2em;
}

#interior-design .top {
  margin-bottom: 30px;
}
#interior-design .top h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.1rem;
}
#interior-design .top h2:nth-child(2) {
  color: #ff565b;
}
#interior-design .top h2:nth-child(2)::before {
  content: "";
  display: inline-block;
  width: 80px;
  height: 2px;
  background-color: #ff565b;
  margin-right: 30px;
  position: relative;
  bottom: 10px;
}

#interior-design .left {
  height: 400px;
  background: url("../images/int-design.jpg");
  background-size: cover;
  background-position: center center;
  border-radius: 10px;
}
#interior-design .right {
  margin-left: 70px;
}
#interior-design .right .inner {
  width: 100%;
  margin-bottom: 70px;
}
#interior-design .right .inner h4 {
  font-weight: bold;
  font-size: 1.3em;
  padding-bottom: 10px;
}
#interior-design .right .inner p {
  color: #7a7a7a;
}
#interior-design .right .inner p:nth-child(2) {
  margin: 0 0 50px 0;
}
#interior-design .right .inner .accordion-item {
  color: #7a7a7a;
  font-size: 0.9em;
}

#feedback {
  margin-top: 100px;
}
#feedback .wrapper {
  background: url("../images/about-feedback-bg.jpg");
  background-size: contain;
  background-position: center right;
  background-repeat: no-repeat;
  height: 500px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
  padding: 30px 0;
}
#feedback .wrapper .feedback-item {
  padding: 50px;
  border-radius: 7.5px;
  box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.1);
  height: 100%;
  position: relative;
  background-color: #fff;
  margin: 0 20px;
  z-index: 999;
}
#feedback .wrapper .feedback-item::after {
  content: "";
  height: 100%;
  width: 10px;
  background-color: rgba(255, 86, 91, 0.5);
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 100%;
  border-top-right-radius: 7.5px;
  border-bottom-right-radius: 7.5px;
}
#feedback .wrapper .feedback-item::before {
  content: "";
  width: 96.7%;
  height: 10px;
  background-color: rgba(255, 86, 91, 0.5);
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 10px;
  border-bottom-left-radius: 7.5px;
}
#feedback .wrapper .feedback-item h4 {
  font-weight: bold;
  font-size: 1.1em;
}
#feedback .wrapper .feedback-item p {
  color: #7a7a7a;
}
#feedback .wrapper .feedback-item p:not(:first-of-type) {
  font-size: 0.9em;
}
#feedback .wrapper .feedback-item i {
  color: #ff565b;
  font-size: 0.7em;
}
#feedback .wrapper .feedback-item i:not(:first-of-type) {
  margin: 5px 0 40px 0;
}
#feedback .wrapper .feedback-item i:first-of-type {
  font-size: 3em;
  position: absolute;
  top: -20px;
  left: 33px;
}/*# sourceMappingURL=about.css.map */