header {
  background: url("../images/about-header.jpg");
  background-size: cover;
  background-position: center center;
  height: 530px;
}
header .layout .headerText {
  width: 50%;
}
header .layout .headerText p {
  margin-top: 25px;
  font-size: 0.9em;
  line-height: 1.8rem;
}

@media screen and (max-width: 993px) {
  header .layout .headerText {
    transform: translate(-50%, -50%);
    width: 70%;
  }
}
@media screen and (max-width: 767px) {
  header {
    height: 350px;
  }
  header .layout .headerText h2 {
    font-size: 2em;
  }
  header .layout .headerText p {
    margin: 15px 0;
    line-height: 1.5rem;
  }
}
#services {
  position: relative;
  top: -80px;
}
#services .service-item {
  height: 150px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  background-color: #fff;
  padding: 30px;
}
#services .service-item i {
  color: #ff565b;
  font-size: 3em;
  margin-bottom: 25px;
}
#services .service-item h4 {
  width: 100%;
  font-weight: bold;
  font-size: 1.2em;
}

@media screen and (max-width: 993px) {
  #services .service-item {
    margin-bottom: 20px;
  }
}
#interior-design .top {
  margin-bottom: 30px;
}
#interior-design .top h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.1rem;
}
#interior-design .top h2:nth-child(2) {
  color: #ff565b;
}
#interior-design .top h2:nth-child(2)::before {
  content: "";
  display: inline-block;
  width: 80px;
  height: 2px;
  background-color: #ff565b;
  margin-right: 30px;
  position: relative;
  bottom: 10px;
}

#interior-design .left {
  height: 400px;
  background: url("../images/int-design-min.jpg");
  background-size: cover;
  background-position: center center;
  border-radius: 10px;
}
#interior-design .right {
  margin-left: 70px;
}
#interior-design .right .inner {
  width: 100%;
  margin-bottom: 70px;
}
#interior-design .right .inner h4 {
  font-weight: bold;
  font-size: 1.3em;
  padding-bottom: 10px;
}
#interior-design .right .inner p {
  color: #7a7a7a;
}
#interior-design .right .inner p:nth-child(2) {
  margin: 0 0 50px 0;
}
#interior-design .right .inner .accordion-item {
  color: #7a7a7a;
  font-size: 0.9em;
}

@media screen and (max-width: 993px) {
  #interior-design .left {
    height: 500px;
    margin-bottom: 30px;
  }
  #interior-design .right {
    margin-left: 0;
  }
  #interior-design .right .inner p {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 576px) {
  #interior-design .top h2 {
    font-size: 1.3rem;
  }
  #interior-design .left {
    height: 350px;
  }
}
#feedback {
  margin-top: 100px;
  height: 500px;
}
#feedback .wrapper {
  background: url("../images/about-feedback-bg.jpg");
  background-size: contain;
  background-position: center right;
  background-repeat: no-repeat;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 100%;
  padding: 30px 0;
}
#feedback .wrapper .feedback-item {
  height: 450px;
  padding: 15px 0;
}
#feedback .wrapper .feedback-item > div {
  padding: 50px;
  border-radius: 7.5px;
  border-bottom-left-radius: 0;
  box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.1);
  height: 100%;
  position: relative;
  background-color: #fff;
  margin: 0 20px;
}
#feedback .wrapper .feedback-item > div::after {
  content: "";
  height: 100%;
  width: 10px;
  background-color: rgba(255, 86, 91, 0.5);
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 100%;
  border-top-right-radius: 7.5px;
  border-bottom-right-radius: 7.5px;
}
#feedback .wrapper .feedback-item > div::before {
  content: "";
  width: 96.7%;
  height: 10px;
  background-color: rgba(255, 86, 91, 0.5);
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 10px;
  border-bottom-left-radius: 7.5px;
}
#feedback .wrapper .feedback-item > div h4 {
  font-weight: bold;
  font-size: 1.1em;
}
#feedback .wrapper .feedback-item > div p {
  color: #7a7a7a;
}
#feedback .wrapper .feedback-item > div p:not(:first-of-type) {
  font-size: 0.9em;
}
#feedback .wrapper .feedback-item > div i {
  color: #ff565b;
  font-size: 0.7em;
}
#feedback .wrapper .feedback-item > div i:not(:first-of-type) {
  margin: 5px 0 40px 0;
}
#feedback .wrapper .feedback-item > div i:first-of-type {
  font-size: 3em;
  position: absolute;
  top: -18px;
  left: 33px;
}

@media screen and (max-width: 768px) {
  #feedback .wrapper .feedback-item {
    height: 300px;
  }
}
@media screen and (max-width: 420px) {
  #feedback .wrapper .feedback-item > div {
    padding: 30px;
  }
  #feedback .wrapper .feedback-item > div p:not(:first-of-type) {
    font-size: 0.8em !important;
    position: relative;
    bottom: 25px;
  }
}
#hire {
  margin: 80px 0;
  background-color: rgb(44, 44, 44);
  padding: 30px 0;
}
#hire .left {
  height: 100%;
  display: flex;
  align-items: center;
}
#hire .left h2 {
  color: #fff;
  font-weight: bold;
}
#hire .right {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#hire .right button {
  background-color: #fff;
  font-size: 0.9em;
  color: #ff565b;
  transition: 0.3s all linear;
  margin-top: 30px;
  position: relative;
  top: -14px;
}
#hire .right button:hover {
  background-color: #ff565b;
  color: #fff;
}

@media screen and (max-width: 993px) {
  #hire .left,
#hire .right {
    justify-content: center;
  }
}/*# sourceMappingURL=about.css.map */