@import "./variables";

body {
  height: 2840px;
}

// HEADER PART
header {
  background: url("../images/about-header.jpg");
  background-size: cover;
  background-position: center center;
  height: 530px;

  .layout {
    .headerText {
      width: 40%;
      p {
        margin-top: 25px;
        font-size: 0.9em;
        line-height: 1.8rem;
      }
    }
  }
}
// END OF HEADER PART

// START OF SERVICES
#services {
  position: relative;
  top: -80px;

  .service-item {
    height: 150px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.3);
    text-align: center;
    background-color: #fff;
    padding: 30px;

    i {
      color: $main-color;
      font-size: 3em;
      margin-bottom: 25px;
    }
    h4 {
      width: 100%;
      font-weight: bold;
      font-size: 1.2em;
    }
  }
}
// END OF SERVICES

// START OF INTERIOR DESIGN
#interior-design {
  .top {
    margin-bottom: 30px;

    h2 {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 2.1rem;

      &:nth-child(2) {
        color: $main-color;

        &::before {
          content: "";
          display: inline-block;
          width: 80px;
          height: 2px;
          background-color: $main-color;
          margin-right: 30px;
          position: relative;
          bottom: 10px;
        }
      }
    }
  }
}

#interior-design {
  .left {
    height: 400px;
    background: url("../images/int-design.jpg");
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
  }
  .right {
    margin-left: 70px;
    .inner {
      width: 100%;
      margin-bottom: 70px;

      h4 {
        font-weight: bold;
        font-size: 1.3em;
        padding-bottom: 10px;
      }
      p {
        color: $text-color;

        &:nth-child(2) {
          margin: 0 0 50px 0;
        }
      }

      .accordion-item {
        color: $text-color;
        font-size: 0.9em;
      }
    }
  }
}
// END OF INTERIOR DESIGN

// START OF FEEDBACK PART
#feedback {
  margin-top: 100px;
  height: 500px;

  .wrapper {
    background: url("../images/about-feedback-bg.jpg");
    background-size: contain;
    background-position: center right;
    background-repeat: no-repeat;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100%;
    padding: 30px 0;

    .feedback-item {
      height: 450px;
      padding: 15px 0;
      > div {
        padding: 50px;
        border-radius: 7.5px;
        border-bottom-left-radius: 0;
        box-shadow: -5px -5px 10px rgba($color: #000000, $alpha: 0.1);
        height: 100%;
        position: relative;
        background-color: #fff;
        margin: 0 20px;

        &::after {
          content: "";
          height: 100%;
          width: 10px;
          background-color: rgba($color: $main-color, $alpha: 0.5);
          display: inline-block;
          position: absolute;
          top: 10px;
          left: 100%;
          border-top-right-radius: 7.5px;
          border-bottom-right-radius: 7.5px;
        }

        &::before {
          content: "";
          width: 96.7%;
          height: 10px;
          background-color: rgba($color: $main-color, $alpha: 0.5);
          display: inline-block;
          position: absolute;
          top: 100%;
          left: 10px;
          border-bottom-left-radius: 7.5px;
        }

        h4 {
          font-weight: bold;
          font-size: 1.1em;
        }
        p {
          color: $text-color;
        }
        p:not(:first-of-type) {
          font-size: 0.9em;
        }
        i {
          color: $main-color;
          font-size: 0.7em;
        }
        i:not(:first-of-type) {
          margin: 5px 0 40px 0;
        }
        i:first-of-type {
          font-size: 3em;
          position: absolute;
          top: -18px;
          left: 33px;
        }
      }
    }
  }
}

// END OF FEEDBACK PART

// HIRE SECTION STARTS

#hire {
  margin: 80px 0;
  background-color: rgb(44, 44, 44);
  padding: 30px 0;

  .left {
    height: 100%;
    display: flex;
    align-items: center;
    h2 {
      color: #fff;
      font-weight: bold;
    }
  }
  .right {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button {
      background-color: #fff;
      font-size: 0.9em;
      color: $main-color;
      transition: 0.3s all linear;
      margin-top: 30px;
      position: relative;
      top: -14px;

      &:hover {
        background-color: $main-color;
        color: #fff;
      }
    }
  }
}

// HIRE SECTION ENDS
