@import "./variables";

// html,
// body {
//   height: 100%;
// }

body {
  height: 3380px;
}

// HEADER STARTS
header {
  background: url("../images/explore-header.jpg");
  background-size: cover;
  background-position: center center;
  height: 530px;
  .layout {
    background-color: rgba($color: #000000, $alpha: 0.5);

    .headerText {
      width: 40%;
      p {
        color: #ddd;
        margin-top: 25px;
        font-size: 0.9em;
        line-height: 1.8rem;
      }
    }
  }
}
// HEADER ENDS

// MINIMALISTIC DESIGN STARTS
#minimalistic-design {
  margin: 200px 0 100px 0;

  .top {
    h2 {
      text-align: center;
      font-weight: bold;
      margin-bottom: 30px;
    }
  }

  .imgHolder {
    width: 100%;
    height: 625px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  .project-info {
    margin: 0 20px;
    background-color: rgba($color: #fff, $alpha: 0.8);
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    position: relative;
    bottom: 150px;

    > div {
      width: 100% / 7;
      text-align: center;
      p {
        color: $text-color;
        margin-bottom: 0;
      }
    }
  }

  .bottomText {
    position: relative;
    bottom: 50px;
    width: 95%;
    p {
      color: $text-color;
      font-size: 0.9em;
    }
  }

  .img1 {
    height: 500px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }
  .img2 {
    @extend .img1;
  }
}
// MINIMALISTIC DESIGN ENDS

// INCREDIBLE WORK STARTS
#incredible-work {
  .wrapper {
    h2 {
      font-weight: bold;
    }
    p {
      font-size: 0.9em;
      margin: 20px 0 50px 0;
      color: $text-color;
    }
    hr {
      border: 1px solid #ddd;
      margin-bottom: 50px;
    }

    .right {
      justify-content: flex-end;
    }
    .left,
    .right {
      display: flex;
      gap: 20px;
      img {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 7.5px;
      }

      .innerText {
        a {
          color: #000;
          font-weight: bold;
          transition: all 0.2s linear;
          margin-top: 35px;
          display: inline-block;

          &:hover {
            color: $main-color;
          }
        }
        p {
          margin: 10px 0;
        }
      }
    }
  }
}
// INCREDIBLE WORK ENDS

// HIRE SECTION STARTS

#hire {
  margin: 80px 0;
  background-color: rgb(44, 44, 44);
  padding: 30px 0;

  .left {
    height: 100%;
    display: flex;
    align-items: center;
    h2 {
      color: #fff;
      font-weight: bold;
    }
  }
  .right {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button {
      background-color: #fff;
      font-size: 0.9em;
      color: $main-color;
      transition: 0.3s all linear;
      margin-top: 30px;
      position: relative;
      top: -14px;

      &:hover {
        background-color: $main-color;
        color: #fff;
      }
    }
  }
}

// HIRE SECTION ENDS
