@import "./variables";

header {
  background: url("../images/explore-header.jpg");
  background-size: cover;
  background-position: center center;
  height: 530px;
  .layout {
    background-color: rgba($color: #000000, $alpha: 0.5);

    .headerText {
      width: 40%;
      p {
        color: #ddd;
        margin-top: 25px;
        font-size: 0.9em;
        line-height: 1.8rem;
      }
    }
  }
}
