@import "./resets";
@import "./variables";
@import "./header";
@import "./search";
@import "./explore";
@import "./trending";

// START OF CONTACT SECTION
#contact {
  background: url("../images/map.jpg");
  background-size: cover;
  background-position: center center;
  height: 960px;
  margin-top: 100px;
  padding: 15% 10%;

  .wrapper {
    .left {
      background-color: #fff;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      padding: 50px;
      position: relative;
      left: 12px;

      .top {
        h2 {
          text-transform: uppercase;
          font-weight: bold;
          font-size: 2.1rem;

          span {
            color: $main-color;

            &::before {
              content: "";
              display: inline-block;
              width: 80px;
              height: 2px;
              background-color: $main-color;
              margin-right: 30px;
              position: relative;
              bottom: 10px;
            }
          }
        }
      }
      .form {
        input,
        textarea {
          border-radius: 5px;
          color: $text-color;
          font-size: 0.9em;
          border: 1px solid #ddd;
          margin: 10px 0;
          padding: 10px;
        }
        input {
          margin-right: 10px;
        }
        textarea {
          width: 100%;
        }

        .btnSend {
          background-color: $main-color;
          font-size: 0.9em;
          color: #fff;
          transition: 0.3s all linear;
          margin-top: 30px;
          width: 100%;

          &:hover {
            background-color: rgba(0, 0, 0, 0.562);
          }
        }
      }
    }
    .right {
      position: relative;
      right: 12px;

      iframe {
        border-top-right-radius: 10px !important;
        border-bottom-right-radius: 10px !important;
      }
    }
  }
}
// END OF CONTACT SECTION
