@import "./resets";
@import "./variables";
@import "./header";
@import "./search";
@import "./explore-work";
@import "./whats-trending";
@import "./contact";
@import "./footer";

#loader {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #2a2a2a;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in;

  img {
    width: 80px;
    height: 80px;
  }
}

.scroll-to-top {
  position: fixed;
  right: 2%;
  bottom: 2%;
  display: inline-block;
  background-color: rgb(255, 0, 0);
  z-index: 3;
  border-radius: 100%;
  transition: all 0.3s;
  opacity: 0;
  pointer-events: none;

  &:hover {
    background-color: $main-color;
  }

  a {
    color: #fff;
    font-size: 1.5em;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.scroll-to-top.active {
  opacity: 1;
  pointer-events: auto;
  bottom: 4%;
}
